* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "FZLTXHJW", "microsoft yahei";
}

.header {
  height: 49px;
  margin: 0 auto;
  position: relative;
  background: #000000;
}

.miui_logo {
  position: absolute;
  height: 20px;
  width: 500px;

  background-repeat: no-repeat;
  background-image: url("https://cdn.glitch.com/e37b2045-1560-4626-9f83-614412bae199%2Flogo.png?v=1585583739310");
  top: 15px;
  left: 5%;
}

.miui_menu {
  position: absolute;
  top: 8px;
  right: 9%;
  width: 600px;
  height: 30px;
  text-align: right;
  line-height: 30px;
}

.miui_menu a.current {
  color: #868686;
}

.miui_menu a {
  color: #dddddd;
  font-size: 14px;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.miui_menu a:hover {
  color: #868686;
}

.banner {
  background: url("./assets/banner.png") no-repeat;
  margin-left: -847.5px;
  border-bottom: 2px solid #f2f2f2;
  height: 659px;
}

.content {
  font-family: "FZLTXHJW", "microsoft yahei";
}

ul {
  list-style: none;
}

.content_body {
  width: 1240px;
  padding: 55px 0px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.content_body ul.clearfix {
  height: 60px;
}
.content_body ul li {
  float: left;
}

.banners_li {
  width: 33.3%;
  text-align: left;
}

.banners_li a {
  display: block;
  text-align: center;
  border-right: 1px solid #e1e1e1;
}

.banners_li a.banners_li_3 {
  display: block;
  text-align: center;
  border-right: none;
}

.banners_li a div {
  display: inline-block;
  zoom: 1;
}

div h3 p {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.banners_li a img {
  margin-right: 24px;
}

.banners_li a h3 {
  font-size: 20px;
  color: #888888;
  line-height: 28px;
  text-align: left;
  cursor: pointer;
  font-weight: normal;
}

.banners_li a p {
  font-size: 14px;
  color: #939393;
  line-height: 28px;
  text-align: left;
  cursor: pointer;
}

.banners_li h3:hover {
  text-decoration: underline;
  color: coral;
}

.banners_li p:hover {
  color: coral;
}

.footer_on {
  height: 160px;
}

.footer {
  border-top: 1px solid #e1e1e1;
}

.footer {
  width: 1240px;
  margin: 0 auto;
  padding-top: 60px;
}

.footer_links {
  text-align: center;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

.footer_links li {
  display: inline-block;
  width: 110px;
  border-right: 1px solid #d9d9d9;
  line-height: 14px;
  height: 14px;
  *display: inline;
  zoom: 1;
}

li {
  display: list-item;
  text-align: center;
}

.footer_links li a {
  color: #858585;
  font-size: 14px;
}

.footer_links a:hover {
  color: coral;
  text-decoration: underline;
}

.copyright {
  line-height: 20px;
  color: #c5c6c8;
  font-size: 11px;
  text-align: center;
}

.footer_links li.languages_list {
  border-right: none;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .banner {
    display: none;
  }

  .murat {
    display: none;
  }
  .miui_logo {
    display: none;
  }
  .resim {
    height: 50px !important;
  }
}

#icerik {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
