* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "FZLTXHJW", "microsoft yahei";
}

.header {
  height: 49px;
  margin: 0 auto;
  position: relative;
  background: #000000;
}

.miui_logo {
  position: absolute;
  height: 20px;
  width: 500px;

  background-repeat: no-repeat;
  background-image: url("../assets/logo.png");
  top: 15px;
  left: 5%;
}

.miui_menu {
  position: absolute;
  top: 8px;
  right: 9%;
  width: 600px;
  height: 30px;
  text-align: right;
  line-height: 30px;
}

.miui_menu a.current {
  color: #868686;
}

.miui_menu a {
  color: #dddddd;
  font-size: 14px;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

.miui_menu a:hover {
  color: #868686;
}

.banner {
  background: url("../assets/banner.png") no-repeat;
  margin-left: -847.5px;
  border-bottom: 2px solid #f2f2f2;
  height: 659px;
}

.content {
  font-family: "FZLTXHJW", "microsoft yahei";
}

ul {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .banner {
    display: none;
  }

  .nav-link {
    display: none;
  }
  .miui_logo {
    display: none;
  }
  .resim {
    height: 50px !important;
  }
}
